* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.form {
    background-image: linear-gradient(to top, #f7cb6d 0%, #83d3f3 100%);
    font-family: 'Acme', sans-serif;
    font-size: 14px;
    font-weight: bold;
    width: 400px;
    height: 720px;
    color: #000;
    padding: 20px 50px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #000;
}

.form h1 {
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 50px;
    text-shadow: -2px 0 #FFF, 0 2px #FFF,
    2px 0 black, 0 -2px #FFF;
}

label {
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Acme', sans-serif;
    color: black;
}

input {
    width: 100%;
    margin-bottom: 10px;
    padding: 9px;
    box-sizing: border-box;
    font-size: 15px;
    border: none;
}
