.custom-map {
    height: 300px;
    width: 500px;
    margin-left: 50%;
    padding: 40px;
}

.mapboxgl-ctrl-attrib-inner a {
    color: black;
    font-family: 'Acme', sans-serif;
}

h3{
    padding: 40px;
    margin-left: 10%;
    float: left;
    text-align: center;
    font-weight: 900;
    height: 50px;
    font-family: 'Acme', sans-serif;
    /* background: linear-gradient(90deg,#00C0FF 0,#FFCF00 49%,#FC4F4F 80%,#00C0FF 100%);
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

